@import 'c/quanticResultQuickview';
@import 'c/quanticResultActionStyles';

.iframe-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.iframe-wrapper iframe {
  border: none;
}

.wrapper {
  height: 100%;
}
