@import "tailwindcss";

@import "./tailwind-utilities/components.css";
@reference './tailwind-utilities/utilities.css';
@reference './coveo.tw.css';

@layer base {
  :host {
    display: block;
  }

  :host,
  button,
  input,
  select {
    @apply font-sans text-base font-normal;
  }

  button {
    @apply cursor-pointer;
  }

  :host(.atomic-hidden) {
    display: none;
  }

  .ripple {
    position: absolute;
    pointer-events: none;
    transform: scale(0);
    border-radius: 50%;
    animation: ripple var(--animation-duration) linear;
  }

  .ripple-relative {
    position: relative;
  }

  .ripple-parent {
    overflow: hidden;
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}
