.facet__path {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--sds-c-color-gray-8, #8E959D);
    float: left;
}

.facet__numberResults {
    color: var(--sds-c-color-gray-8, #8E959D);
}