:host {
  display: block;
}

.focus\:rounded-b-0 {
  animation: 1s;
}
.focus\:rounded-b-0:focus-within {
  @apply rounded-t rounded-b-none
}

.suggestion[aria-selected="true"] {
  @apply bg-gray-300
}

.suggestions:empty {
  border: none;
}
