$breadcrumb-divider: '';
$btn-focus-box-shadow: '';

@import '../../../node_modules/bootstrap/scss/breadcrumb';
@import '../../../node_modules/bootstrap/scss/buttons';
@import 'utilities';

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0px;
}
