.pill__container {
  display: flex;
  flex-direction: row;
  border-radius: .25rem;
}

.pill__container:hover {
  background-color: var(--slds-g-color-surface-2, #f6f7f9);
}

.pill__text-container {
  min-width: 0;
  line-height: var(--lwc-lineHeightText, 1.5);
}

a {
  text-decoration: none;
}