@import 'buttons';
@import 'utilities';
/**
 * @prop --atomic-search-box-submit-bg-color: Background of the button
 * @prop --atomic-search-box-submit-bg-color-hover: Background of the button in hover state
 * @prop --atomic-search-box-submit-color: Color of the button's text
 * @prop --atomic-search-box-submit-color-hover: Color of the button's text in hover state
 */
.btn {
  background-color: var(--atomic-search-box-submit-bg-color, $primary);
  color: var(--atomic-search-box-submit-color, $body-color);

  &:hover {
    background-color: var(--atomic-search-box-submit-bg-color-hover, var(--atomic-search-box-submit-bg-color, $primary));
    color: var(--atomic-search-box-submit-color-hover, var(--atomic-search-box-submit-color, $body-color));
  }
}
