.container {
  all: initial;
  display: block;
  width: 960px;
  margin: 0 auto;
}

.main {
  height: 600px;
  display: flex;
  gap: 24px;
}

.section {
  flex: 1;
}

.controls {
  margin-bottom: 8px;
}

.controls button {
  margin-right: 8px;
}

.events-selector {
  margin: 16px;
  width: 240px;
  padding: 8px 0;
}
