.ua-event_black-icon {
  --slds-c-icon-color-foreground-default: var(--lwc-brandContrast, #1a1b1e);
}

.ua-event_blue-icon {
  --slds-c-icon-color-foreground-default: var(--lwc-brandAccessible, #0176d3);
}

.ua-event_bold-text {
  font-weight: 700;
}

.ua-event_black-text {
  color: var(--lwc-brandContrast, #1a1b1e);
}

.ua-event_blue-text {
  color: var(--lwc-brandAccessible, #0176d3);
}

.ua-event_vector {
  height: 25px;
  width: 1px;
  background-color: #3e3e3c;
  border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

.ua-event_small-text {
  font-size: 10px;
}
