engine-strict=true
save-exact=true

# pnpm specific settings
shamefully-hoist=false
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
