# Used for `pnpm run`
use-node-version=16.17.0 # Will download and install the correct version of node if needed.

# Used for `pnpm install`
node-version=16.17.0 # Will assume we are using this node version when verifying `engines`.
