**/lwc/**/*.css
**/lwc/**/*.html
**/lwc/**/*.svg
**/lwc/**/*.xml
**/stencil-generated/**/*
.sfdx
dist
**/*.d.ts
LICENSE.md
utils/**/.storybook/**
**/.angular/**
**/.next/**
**/www/**
scripts/deploy/execute-deployment-pipeline.mjs
**/staticresources/**
packages/atomic-hosted-page/loader/**/*
packages/atomic/loader/**/*
packages/atomic/docs/**/*
packages/atomic/dist-storybook/**/*
packages/atomic/src/components/search/atomic-search-interface/lang/*.json
packages/atomic/src/external-builds/**/*
packages/atomic/src/generated/**
packages/headless/src/external-builds/**/*
packages/quantic/docs/out/quantic-docs.json
packages/samples/headless-react/build/**/*
packages/samples/angular/src/lang/*.json
packages/samples/vuejs/public/lang/*.json
