:host {
    --slds-c-textarea-sizing-min-height: 100px;
}

.feedback-modal-qna__radio-group {
    min-width: 11.7rem;
}

.feedback-modal-qna__body {
    container-type: inline-size;
}

@container (width < 40rem) {
    .feedback-modal-qna__question {
        flex-direction: column;
    }
    .feedback-modal-qna__radio-group {
        margin-top: 0.5rem;
    }
}