.facet__show-less {
  font-size: 12px;
  outline: 0;
  background-color: var(--lwc-brandHeader, #FFFFFF);
  color: var(--sds-c-color-gray-8, #8E959D);
  border: none;
  margin-bottom: 5px;
}

.facet__show-more {
  font-size: 12px;
  outline: 0;
  background-color: var(--lwc-brandHeader, #FFFFFF);
  color: #005FB2;
  border: none;
  margin-bottom: 5px;
}

.facet__show-more_text, .facet__show-less_text{
  display: flex;
  align-items: left;
}

.parent-text__bold {
  font-weight: var(--lwc-fontWeightBold, 700);
}

.facet-list_type {
  list-style-type: none;
}