.facet__show-less {
  font-size: 12px;
  outline: 0;
  background-color: var(--lwc-colorBackgroundAlt, #FFFFFF);
  color: var(--sds-c-color-gray-8, #8E959D);
  border: none;
  margin-bottom: 5px;
}

.facet__show-more {
  font-size: 12px;
  outline: 0;
  background-color: var(--lwc-colorBackgroundAlt, #FFFFFF);
  color: var(--brand-text-link, #0176d3);
  border: none;
  margin-bottom: 5px;
}

.facet__show-more-text, .facet__show-less-text{
  display: flex;
  align-items: left;
}

.facet__search-results_no-match {
  color: var(--sds-c-color-gray-8, #8E959D);
  background-color: var(--sds-c-color-gray-3, #F6F7F9);
  font-size: 12px;
  border-radius: 4px;
}

.facet__search-results_more-matches{
   color: var(--sds-c-color-gray-8, #8E959D);
   font-size: 12px;
}
.parent-text__bold {
  font-weight: var(--font-weight-bold, 700);
  margin-left: var(--lwc-varSpacingHorizontalMedium, 1rem);
}