.facet__show-less {
  font-size: 12px;
  outline: 0;
  background-color: white;
  color: var(--lwc-textPlaceholder, #8E959D);
  border: none;
  margin-bottom: 5px;
}

.facet__show-more {
  font-size: 12px;
  outline: 0;
  background-color: white;
  color: #005FB2;
  border: none;
  margin-bottom: 5px;
}

.facet__show-more_text, .facet__show-less_text{
  display: flex;
  align-items: left;
}