lightning-icon{
  /* --sds-c-icon-color-foreground-default: white; */
}
.slds-visual-picker__figure{
  width: 9.875rem;
  height: 1.938rem;
}

.slds-form-element__label{
  color: unset;
}

.slds-visual-picker{
  overflow: hidden;
}

.visual-picker__hidden{
  animation: hideAnimation .3s ease-in-out forwards;
}

@keyframes hideAnimation {
  100% {
    width: 0;
    opacity: 0;
    margin-right:0;
  }
}