.shadow-parts-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  line-height: 3rem;
}

.shadow-parts-table tr {
  border: 1px solid #e6e6e6;
}

.shadow-parts-table tr td:first-child {
  font-weight: bold;
}

.shadow-parts-table td,
.shadow-parts-table th {
  padding: 10px 20px 10px 20px;
}

.shadow-parts-table textarea {
  height: 200px;
  width: 200px;
  resize: none;
}

.shadow-parts-table button {
  padding: 10px 16px;
  background: #fafafa;
  box-shadow: rgb(0 0 0 / 10%) 0 0 0 1px inset;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
