.facet__collapse {
    box-shadow: none;
}

.facet__searchbox {
    width: 100%;
}

.facet__search-results_no-match {
   color: #8E959D;
   background-color: #F6F7F9;
   font-size: 12px;
}

.facet__search-results_more-matches{
    color: #8E959D;
    font-size: 12px;
}
