:host {
  --x-translation: var(--adapted-x-translation, 0px);
  --max-width: var(--adapted-max-width, 20rem);
}

.tooltip__content {
  left: 50%;
  transition: transform 0s linear 0s, opacity 0.1s linear 0s, visibility 0.1s linear 0s;
  z-index: 40;
}

.tooltip__content--positioned-above {
  transform: translate(calc(-50% + var(--x-translation)), -100%);
  top: -0.2rem;
}

.tooltip__content--positioned-below {
  transform: translate(calc(-50% + var(--x-translation)), 0.1rem);
}

.tooltip__content--visible {
  visibility: visible;
  opacity: 1;
}

.tooltip__content--light,
.slds-popover_tooltip {
  width: max-content;
}

.tooltip__body {
  max-width: min(20rem, var(--max-width));
  width: fit-content;
  padding: 6px 12px;
}
