.tooltip__content {
  left: 50%;
  transform: translate(-50%, -100%);
  top: 0rem;
}

.tooltip__content--visible {
  visibility: visible;
  opacity: 1;
}

.tooltip__content--light {
  width: max-content;
  max-width: var(--slds-c-tooltip-sizing-max-width, var(--sds-c-tooltip-sizing-max-width, var(--lwc-sizeMedium, 20rem)));
}

.slds-nubbin_bottom-left:before,
.slds-nubbin_bottom-left:after {
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translateX(50%) rotate(45deg);
  margin-top: -4px;
}

.slds-popover_tooltip {
  width: max-content;
}