.input_count{
  top: 0;
  right: 0.75rem;
  width: 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 200;
}
 .slds-input{
  padding-right: 4.25rem;
  height: 2.5rem;
}