atomic-color-facet::part(default-color-value) {
  background-image: url("/assets/document.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(144, 144, 144);
}

atomic-color-facet::part(value-dynamicscrmitem) {
  background-image: url("/assets/email.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(149, 174, 197);
}

atomic-color-facet::part(value-lithiumuser) {
  background-image: url("/assets/folder.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(139, 154, 227);
}

atomic-color-facet::part(value-YouTubeVideo) {
  background-image: url("/assets/video.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(176, 112, 230);
}

atomic-color-facet::part(value-lithiummessage) {
  background-image: url("/assets/knowledge.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(236, 148, 237);
}

atomic-color-facet::part(value-lithiumthread) {
  background-image: url("/assets/post.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(101, 202, 228);
}

atomic-color-facet::part(value-html) {
  background-image: url("/assets/html.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
