.generated-answer__header-title {
  color: var(--lwc-brandPrimary, #1b96ff);
}

.generated-answer__header-title-icon {
  color: var(--lwc-brandPrimary, #1b96ff);
  --slds-c-icon-color-foreground-default: var(--lwc-brandPrimary, #1b96ff);
}
