@import 'c/searchBoxStyle';

textarea.searchbox__input {
  margin-right: 0.8rem;
}

.searchbox__submit-button {
  border: none;
  border-radius: 0 var(--lwc-borderRadiusMedium, 0.25rem) var(--lwc-borderRadiusMedium, 0.25rem) 0;
}

.searchbox__container-wrapper {
  min-height: 3.125rem;
}

.searchbox_floating-container {
  position: absolute;
  width: 100%;
  background-color: var(--lwc-colorBackgroundAlt, rgb(255, 255, 255));
  border-radius: 0.25rem;
}
