.breadcrumb-manager__line {
    align-items: baseline;
    min-width: 0;
}

.breadcrumb-manager__value:hover {
    text-decoration: underline;
}

.slds-grid div.breadcrumb-manager__column {
    padding: 0;
}

.breadcrumb-manager__value-line-item {
    white-space: nowrap;
}

.breadcrumb-manager__field-name {
    white-space: nowrap;
}

.breadcrumb-manager__more-button:hover {
    color: var(--color-text-action-label);
}

.breadcrumb__container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  border-radius: .25rem;
}

.breadcrumb__container:hover {
  background-color: #f6f7f9;
}

.breadcrumb__text-container {
  min-width: 0;
}

a {
  text-decoration: none;
}