.breadcrumb-manager__line {
    align-items: baseline;
}

.breadcrumb-manager__value:hover {
    text-decoration: underline;
}

.slds-grid div.breadcrumb-manager__column {
    padding: 0;
}

.coveo-breadcrumb-value-line {
    line-height: 0.7;
}

.nowrap {
    white-space: nowrap;
}

.breadcrumb-more-button:hover {
    color: var(--color-text-action-label);
}