:host {
  display: block;
}

/* TODO: Improve loading styling with Tailwind */
.loading {
  width: 200px;
  margin-bottom: 40px;
}

.loading p {
  background-color: rgb(206, 206, 206);
  height: 10px;
}
