:root {
  /* Primary colors */
  --atomic-primary: #303f9f;
  --atomic-primary-light: #666ad1;
  --atomic-primary-dark: #001970;
  --atomic-on-primary: #ffffff;

  /* Neutral colors */
  --atomic-neutral-dark: #424242;
  --atomic-neutral: #757575;
  --atomic-neutral-light: #e0e0e0;

  /* Semantic colors */
  --atomic-background: #ffffff;
  --atomic-on-background: #000000;
  --atomic-success: #12a244;
  --atomic-error: #ce3f00;
  --atomic-visited: #752e9c;

  /* Border radius */
  --atomic-border-radius: 0.25rem;
  --atomic-border-radius-lg: 0.5rem;

  /* Font */
  --atomic-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Ubuntu, roboto, noto, arial, sans-serif; /* Following https://systemfontstack.com/ */
  --atomic-font-normal: 400;
  --atomic-font-bold: 700;

  /* Text size */
  --atomic-text-base: 0.875rem; /* 14px */
  --atomic-text-sm: 0.75rem; /* 12px */
  --atomic-text-lg: 1rem; /* 16px */
}
