:root {
  /* Primary colors */
  --atomic-primary: #1372ec;
  --atomic-primary-light: #399ffe;
  --atomic-primary-dark: #1a50ad;
  --atomic-on-primary: #ffffff;

  /* Neutral colors */
  --atomic-neutral-dark: #8e959d;
  --atomic-neutral: #e5e8e8;
  --atomic-neutral-light: #f6f7f9;

  /* Semantic colors */
  --atomic-background: #ffffff;
  --atomic-on-background: #282829;
  --atomic-success: #12a244;
  --atomic-error: #ce3f00;
  --atomic-visited: #752e9c;

  /* Border radius */
  --atomic-border-radius: 0.25rem;
  --atomic-border-radius-lg: 0.5rem;

  /* Font */
  --atomic-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Ubuntu, roboto, noto, arial, sans-serif; /* Following https://systemfontstack.com/ */
  --atomic-font-normal: 400;
  --atomic-font-bold: 700;

  /* Text size */
  --atomic-text-base: 0.875rem; /* 14px */
  --atomic-text-sm: 0.75rem; /* 12px */
  --atomic-text-lg: 1rem; /* 16px */

  /* Others */
  --atomic-icon-size: 30px;
}
