/* TODO: add Coveo branding variables */
:root {
  /* Primary colors */
  --atomic-primary: #1372ec;
  --atomic-primary-light: #68a0ff;
  --atomic-primary-dark: #0048b9;
  --atomic-on-primary: #ffffff;

  /* Secondary colors */
  --atomic-secondary: #1d4f76;
  --atomic-secondary-light: #507ba5;
  --atomic-secondary-dark: #00274a;
  --atomic-on-secondary: #ffffff;

  /* Neutral colors */
  --atomic-neutral-dark: #8e959d;
  --atomic-neutral: #e5e8e8;
  --atomic-neutral-light: #f6f7f9;

  /* Semantic colors */
  --atomic-background: #ffffff;
  --atomic-on-background: #282829;
  --atomic-success: #12a244;
  --atomic-error: #ce3f00;

  /* Border radius */
  --atomic-border-radius: 4px;
  --atomic-border-radius-lg: 16px;

  /* Font */
  --atomic-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Ubuntu, roboto, noto, arial, sans-serif; /* Following https://systemfontstack.com/ */
  --atomic-font-normal: 400;
  --atomic-font-bold: 700;

  /* Others */
  --atomic-icon-size: 30px;
}
