@layer components {
  atomic-icon {
    display: inline-block;
    fill: currentColor;
    aspect-ratio: 1 / 1;
    height: auto;

    @supports not (aspect-ratio: 1 / 1) {
      height: auto;
    }

    > svg {
      width: 100%;
      max-height: 100%;
      aspect-ratio: 1 / 1;
      height: auto;
    }
  }
}
