html,
body,
app-root {
  height: 100%;
}

app-root {
  display: block;
}

app-message-list {
  display: flex;
  flex: 1;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

app-message-input {
  display: block;
  width: 100%;
  min-width: 0;
}
