.container {
  width: 100%;
  margin: 0 2em 0 0;
}

.query-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--brand-text-link, #0176d3);
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon-color {
  color: var(--brand-text-link, #0176d3);;
}

li span {
  pointer-events: none;
}

.empty-list-message {
  color: var(--sds-c-color-gray-8, #8e959d);
}
