@import 'c/quanticFacetStyles';

:host {
  width: 100%;
}

li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.facet__value_selected{
  font-weight: var(--slds-g-font-weight-7, bold);
}

.facet__value-checkbox {
  min-width: unset;
}