@import 'c/quanticFacetStyles';

li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.facet__value-container {
  font-size: 12px;
}

.facet__number-of-results {
  color: #8e959d;
  font-size: 11px;
}

.facet__value_selected{
  font-weight: bold;
}

.facet__value-checkbox {
  min-width: unset;
}
