@import 'c/quanticFacetStyles';

li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.facet__number-of-results {
  color: #8e959d;
}

.facet__value_selected{
  font-weight: bold;
}

.facet__value-checkbox {
  min-width: unset;
}

.facet__value_new-checkbox{
  width: 20px;
  height: 20px;
  vertical-align: top;
  border: solid 1px #cccccc;
  border-radius: 4px;
  margin-right: 6px;
  display: inline-block;
  position: relative;

}