@import 'c/quanticResultActionStyles';

.quickview__content-container {
  height: 90%;
}

.quickview__result-title {
  font-weight: var(--slds-g-font-weight-7, 700);
  font-size: 15px;
}

.quickview__result-date {
  color: #3E3E3C;
  font-weight: var(--slds-g-font-weight-4, normal);
  font-size: var(--slds-g-font-scale-2, 15px);
}

.quickview__button-base:not([disabled]){
  border-radius: 0.25rem;
  color: var(--lwc-colorTextLinkActive, #0f2d5d);
}

.quickview__button-base:not([disabled]):hover {
  background-color: #f6f7f9;
  box-shadow: 0 0 0 0.25rem #f6f7f9;
}

.quickview-modal__footer {
  background-color: white;
  text-align: unset;
}
