.quickview__content-container {
  overflow: auto;
}

.result__title {
  font-weight: 700;
  font-size: 1.1em;
}

.result__date {
  color:#3E3E3C;
  font-weight: normal;
}

.spinner-container {
  width: 100%;
  height: 50%;
}