.result-parenturi__container {
  font-size: .9em;
  color: #C5CACF
}

.result-parenturi__container:last-child {
  min-width: 0;
}

.result-parenturi__container:last-child .result-parenturi__separator {
  display: none;
}