.source-citations__label {
  height: 1.875rem;
}

.citation:hover {
  cursor: pointer;
}

.citation__badge:hover {
  background-color: #eef4ff;
}

.citation__badge:focus-within {
  border: 1px solid #0070d2;
  box-shadow: 0px 0px 3px 0px #0070d2;
}

.citation__badge:hover .citation__index {
  background-color: #ffffff;
}

.citation__badge:hover .citation__title {
  color: var(--lwc-brandAccessible, #0176d3);
}

.citation__link {
  color: var(--lwc-brandAccessible, #0176d3);
  max-width: 10.625rem;
}

.citation__index {
  background-color: #eef4ff;
  width: 20px;
  height: 20px;
  border-radius: var(--lwc-borderRadiusCircle, 50%);
}

.citation__title {
  color: var(--lwc-brandDark, #080707);
  font-weight: var(--lwc-fontWeightRegular, 400);
  font-size: 13px;
}
