.citation {
  max-width: 10.625rem;
}

.citation:hover {
  cursor: pointer;
}

.citation span {
  max-width: 100%;
}

.citation span:hover {
  background-color: #eef4ff;
}

.citation span:hover .citation__title {
  color: var(--lwc-brandAccessible, #0176d3);
}

.citation a {
  color: var(--lwc-brandAccessible, #0176d3);
  max-width: 100%;
}

.citation__index {
  background-color: #eef4ff;
  width: 20px;
  height: 20px;
  border-radius: var(--lwc-borderRadiusCircle, 50%);
}

.citation__title {
  color: var(--lwc-brandDark, #080707);
  font-weight: var(--lwc-fontWeightRegular, 400);
}
