@import '../quanticGeneratedAnswer.css';

.generated-answer__header-actions {
  align-items: center;
}

.generated-answer__answer {
  white-space: pre-wrap;
  line-height: 1.5rem;
  font-size: 15px;
}

.generated-answer__footer--multiline {
  flex-direction: column;
}

.generated-answer__footer--standard {
  gap: 1rem;
}

.generated-answer__answer--streaming::after {
  content: '';
  width: 0.5rem;
  height: 0.9rem;
  margin-left: 0.1rem;
  background: var(--lwc-brand-accessible, #0176d3);
  display: inline-block;
  animation: cursor-blink 1.5s steps(2, start) infinite;
  vertical-align: baseline;
}

@keyframes cursor-blink {
  100% {
    visibility: hidden;
  }
}