@import '../quanticGeneratedAnswer.css';

.generated-answer__header-actions {
  align-items: center;
  flex-wrap: wrap-reverse;
}

.generated-answer__answer {
  overflow: hidden;
  position: relative;
}

.generated-answer__content {
  word-wrap: break-word;
}

.generated-answer__footer {
  gap: 1rem;
}

.generated-answer__answer--collapsed {
  max-height: var(--maxHeight, 250px);
}

.generated-answer__answer--expanded {
  max-height: 100%;
  margin-bottom: 1rem;
  overflow: visible;
}

.generated-answer__collapse-generating-message {
  color: var(--lwc-brandPrimary, #1b96ff);
}

.generated-answer__answer::after {
  transition: 0.5s;
  position: absolute;
  visibility: hidden;
  content: '';
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 1)
  );
}

.generated-answer__answer--collapsed::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 1;
  visibility: visible;
}

.generated-answer__answer--expanded::after {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0.2;
  visibility: hidden;
}

.generated-answer__disclaimer {
  min-height: var(--lwc-lineHeightButton,1.875rem);
}

.flex-one {
  flex: 1;
}

@keyframes cursor-blink {
  100% {
    visibility: hidden;
  }
}