.result-badge {
  border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
  text-transform: uppercase;
  font-size: 10px;
  background-color: var(--primaryColor, #fff7ba);
  color: var(--secondaryColor, #e2b104);
  border: 1px solid var(--secondaryColor, #e2b104);
}
