.search__container {
  position: relative;
  background: #fff;
  border-radius: .25rem;
  background-clip: padding-box;
}

.refine-toggle_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}