.searchbox__container{
    display: flex;
    position: relative;
    border-color: #e5e8e8;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #FFFFFF;
}

.searchbox__input {
    display: flex;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    border-right-width: 0px;
    position: relative;

}

.searchbox__submit-button{
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: #1372ec;
    position: relative;
}
