.container {
  width: 100%;
  margin: 0 2em 0 0;
}

.query-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0070d2;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon-color {
  color: #0070d2;
}

li span {
  pointer-events: none;
}
