{
  "openapi": "3.0.1",
  "info": {
    "title": "Coveo Platform API",
    "description": "API for Coveo Platform",
    "termsOfService": "https://www.coveo.com/en/support/terms-agreements",
    "contact": {
      "name": "Coveo",
      "url": "https://connect.coveo.com/s/discussions"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://platform.cloud.coveo.com",
      "description": "Generated server url"
    }
  ],
  "security": [{"oauth2": ["full"]}],
  "paths": {
    "/rest/organizations/{organizationId}/commerce/v2/search/synonyms/{synonymId}": {
      "get": {
        "tags": ["Synonym"],
        "summary": "Get a synonym rule.",
        "description": "Retrieves a synonym rule.</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getSynonym",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "synonymId",
            "in": "path",
            "description": "A UUID identifying the synonym rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"},
            "example": "58bb4b98-1daa-4767-8c15-90a0ea67645c"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {"schema": {"$ref": "#/components/schemas/SynonymModel"}}
            }
          }
        }
      },
      "put": {
        "tags": ["Synonym"],
        "summary": "Edit synonym rule",
        "description": "Updates a synonym rule.</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "editSynonym",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"maxLength": 255, "minLength": 1, "type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "synonymId",
            "in": "path",
            "description": "A UUID identifying the synonym rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"},
            "example": "58bb4b98-1daa-4767-8c15-90a0ea67645c"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/SynonymModel"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {"schema": {"$ref": "#/components/schemas/SynonymModel"}}
            }
          }
        },
        "x-pretty-name": "editSynonym",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/search/synonyms/paramId_put"
      },
      "delete": {
        "tags": ["Synonym"],
        "summary": "Delete synonym rule.",
        "description": "Deletes a synonym rule.</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "deleteSynonym",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "synonymId",
            "in": "path",
            "description": "A UUID identifying the synonym rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"},
            "example": "58bb4b98-1daa-4767-8c15-90a0ea67645c"
          }
        ],
        "responses": {"204": {"description": "No Content"}},
        "x-pretty-name": "deleteSynonym",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/search/synonyms/paramId_delete"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/search/preview/rules/{id}": {
      "get": {
        "tags": ["Search Rule Preview"],
        "summary": "Preview the impact of a search rule.",
        "description": "Returns a preview of products.</br></br>**Required privilege:** Execute Query",
        "operationId": "previewImpactOfRule",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "previewQueryExpression",
            "in": "query",
            "description": "The query expression, typically the keywords entered by the end user in a search box.",
            "required": true,
            "schema": {"type": "string"},
            "example": "blue shoes"
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "language",
            "in": "query",
            "description": "An IETF language tag.",
            "required": true,
            "schema": {"type": "string"},
            "example": "en"
          },
          {
            "name": "country",
            "in": "query",
            "description": "An ISO 3166-1 alpha-2 currency code.",
            "required": true,
            "schema": {"type": "string"},
            "example": "US"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "An ISO 4217 currency code.",
            "required": true,
            "schema": {"type": "string"},
            "example": "USD"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of products to request.",
            "required": false,
            "schema": {"type": "integer", "format": "int32"},
            "example": 7
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of products per page.",
            "required": false,
            "schema": {"type": "integer", "format": "int32"},
            "example": 30
          },
          {
            "name": "isEditingGlobal",
            "in": "query",
            "description": "Whether the rule is for the global config.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          },
          {
            "name": "debug",
            "in": "query",
            "description": "Whether to include the execution report on a successful response.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponseModel_V2ProductView"
                }
              }
            }
          }
        },
        "x-pretty-name": "previewImpactOfRule",
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/search/preview/rules/paramId_get"
      },
      "put": {
        "tags": ["Search Rule Preview"],
        "summary": "Preview the impact of an updated search rule vs not having a rule, or if compareWithPreviousState is true, the impact of a rule update vs the previous state of the rule.",
        "description": "Returns a preview of products.</br></br>**Required privilege:** Execute Query",
        "operationId": "previewImpactOfUpdatingRule",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "isEditingGlobal",
            "in": "query",
            "description": "Whether the rule is for the global config.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          },
          {
            "name": "compareWithPreviousState",
            "in": "query",
            "description": "When previewing an update to a rule, whether to compare the preview results against those from one executed with the previous state of the rule, or against a one executed without that rule at all.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRulePreviewRequestModel_V2ProductView"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponseModel_V2ProductView"
                }
              }
            }
          }
        },
        "x-pretty-name": "previewImpactOfUpdatingRule",
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/search/preview/rules/paramId_put"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/recommendations/slots/{configurationId}": {
      "get": {
        "tags": ["Recommendations Configuration"],
        "summary": "Retrieves a slot configuration",
        "description": "Shows a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getSlotConfiguration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SlotConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "getSlotConfiguration",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_get"
      },
      "put": {
        "tags": ["Recommendations Configuration"],
        "summary": "Update a slot configuration",
        "description": "Updates a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "updateSlotConfiguration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/SlotConfigurationModel"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SlotConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "updateSlotConfiguration",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_put"
      },
      "delete": {
        "tags": ["Recommendations Configuration"],
        "summary": "Deletes a slot configuration",
        "description": "Deletes a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "deleteSlotConfiguration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {"204": {"description": "No Content"}},
        "x-pretty-name": "deleteSlotConfiguration",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_delete"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/recommendations/slots/{configurationId}/settings": {
      "get": {
        "tags": ["Recommendations Configuration"],
        "summary": "Retrieves slot settings",
        "description": "Shows slot settings in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getSlotSettings",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/SlotSettingsModel"}
              }
            }
          }
        },
        "x-pretty-name": "getSlotSettings",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/slots/paramId/settings_get"
      },
      "put": {
        "tags": ["Recommendations Configuration"],
        "summary": "Update slot settings",
        "description": "Updates slot settings in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "updateSlotSettings",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/SlotSettingsModel"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/SlotSettingsModel"}
              }
            }
          }
        },
        "x-pretty-name": "updateSlotSettings",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/slots/paramId/settings_put"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/recommendations/slots/global/query-configuration": {
      "get": {
        "tags": ["Recommendations Configuration"],
        "summary": "Retrieves a global query configuration",
        "description": "Shows a Query configuration. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getGlobalQueryConfiguration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Recommendation.QueryConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "getGlobalQueryConfiguration",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/slots/global/query-configuration_get"
      },
      "put": {
        "tags": ["Recommendations Configuration"],
        "summary": "Update a global query configuration",
        "description": "Updates a Query configuration. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "updateGlobalQueryConfiguration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Recommendation.QueryConfigurationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Recommendation.QueryConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "updateGlobalQueryConfiguration",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/slots/global/query-configuration_put"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/recommendations/preview/rules/{ruleId}": {
      "get": {
        "tags": ["Recommendations Rule Preview"],
        "summary": "Preview the impact of a recommendations rule in a given slot configuration.",
        "description": "Returns a preview of products.</br></br>**Required privilege:** Execute Query",
        "operationId": "previewImpactOfARule",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The unique identifier of the rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "language",
            "in": "query",
            "description": "An IETF language tag.",
            "required": true,
            "schema": {"type": "string"},
            "example": "en"
          },
          {
            "name": "country",
            "in": "query",
            "description": "An ISO 3166-1 alpha-2 currency code.",
            "required": true,
            "schema": {"type": "string"},
            "example": "US"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "An ISO 4217 currency code.",
            "required": true,
            "schema": {"type": "string"},
            "example": "USD"
          },
          {
            "name": "productIds",
            "in": "query",
            "description": "The product IDs used to generate the recommendations rule preview.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {"type": "string"},
              "default": []
            },
            "example": "productIds=56780893481"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of products to request.",
            "required": false,
            "schema": {"type": "integer", "format": "int32", "default": 0},
            "example": 7
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of rules to list per page.</br>**Minimum:** `1`</br>**Maximum:** `1000`</br>**Default:** `10`",
            "required": false,
            "schema": {"type": "integer", "format": "int32", "default": 30}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponseModel_V2ProductView"
                }
              }
            }
          }
        },
        "x-pretty-name": "previewImpactOfARule",
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/preview/rules/paramId_get"
      },
      "put": {
        "tags": ["Recommendations Rule Preview"],
        "summary": "Preview the impact of an updated recommendation's rule in a given slot configuration.",
        "description": "Returns a preview of products.The updated rule is compared against not having the rule or, if `compareWithPreviousState` is true, against the previous state of the rule.\n</br></br>**Required privilege:** Execute Query",
        "operationId": "previewImpactOfUpdatingARule",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The unique identifier of the rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "compareWithPreviousState",
            "in": "query",
            "description": "When previewing an update to a rule, whether to compare the preview results against those from one executed with the previous state of the rule, or against a one executed without that rule at all.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseRulePreviewRequestModel_V2ProductView"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponseModel_V2ProductView"
                }
              }
            }
          }
        },
        "x-pretty-name": "previewImpactOfUpdatingARule",
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/recommendations/preview/rules/paramId_put"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/listing/preview/rules/{id}": {
      "get": {
        "tags": ["Listing Rule Preview"],
        "summary": "Preview the impact of a listing rule.",
        "description": "Returns a preview of products.</br></br>**Required privilege:** Execute Query",
        "operationId": "previewImpactOfRule_1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "previewUrl",
            "in": "query",
            "description": "The URL used to retrieve the products listings.",
            "required": true,
            "schema": {"type": "string"},
            "example": "http://acme.com/summersale"
          },
          {
            "name": "listingName",
            "in": "query",
            "description": "The name of the product listing.",
            "required": true,
            "schema": {"type": "string"},
            "example": "My Product Listing"
          },
          {
            "name": "listingId",
            "in": "query",
            "description": "The unique identifier of the product listing.",
            "required": true,
            "schema": {"type": "string"},
            "example": "644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b"
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "language",
            "in": "query",
            "description": "An IETF language tag.",
            "required": true,
            "schema": {"type": "string"},
            "example": "en"
          },
          {
            "name": "country",
            "in": "query",
            "description": "An ISO 3166-1 alpha-2 currency code.",
            "required": true,
            "schema": {"type": "string"},
            "example": "US"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "An ISO 4217 currency code.",
            "required": true,
            "schema": {"type": "string"},
            "example": "USD"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of products to request.",
            "required": false,
            "schema": {"type": "integer", "format": "int32"},
            "example": 7
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of products per page.",
            "required": false,
            "schema": {"type": "integer", "format": "int32"},
            "example": 30
          },
          {
            "name": "isEditingGlobal",
            "in": "query",
            "description": "Whether the rule is for the global config.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          },
          {
            "name": "debug",
            "in": "query",
            "description": "Whether to include the execution report on a successful response.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponseModel_V2ProductView"
                }
              }
            }
          }
        },
        "x-pretty-name": "previewImpactOfRule",
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/listing/preview/rules/paramId_get"
      },
      "put": {
        "tags": ["Listing Rule Preview"],
        "summary": "Preview the impact of an updated listing rule vs not having the rule, or if compareWithPreviousState is true, the impact of a rule update vs the previous state of the rule.",
        "description": "Returns a preview of products.</br></br>**Required privilege:** Execute Query",
        "operationId": "previewImpactOfUpdatingRule_1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the rule.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "isEditingGlobal",
            "in": "query",
            "description": "Whether the rule is for the global config.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          },
          {
            "name": "compareWithPreviousState",
            "in": "query",
            "description": "When previewing an update to a rule, whether to compare the preview results against those from one executed with the previous state of the rule, or against a one executed without that rule at all.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingRulePreviewRequestModel_V2ProductView"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponseModel_V2ProductView"
                }
              }
            }
          }
        },
        "x-pretty-name": "previewImpactOfUpdatingRule",
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/listing/preview/rules/paramId_put"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/configurations/search/{configurationId}": {
      "get": {
        "tags": ["Search Configurations"],
        "summary": "Retrieves a search configuration",
        "description": "Shows a Search configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "get",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "Search configuration",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "get",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/search/paramId_get"
      },
      "put": {
        "tags": ["Search Configurations"],
        "summary": "Update a search configuration",
        "description": "Updates a Search configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "update",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the search configuration.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchConfigurationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "update",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/search/paramId_put"
      },
      "delete": {
        "tags": ["Search Configurations"],
        "summary": "Deletes a search configuration",
        "description": "Deletes a Search configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "delete",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the search configuration.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {"204": {"description": "No Content"}},
        "x-pretty-name": "delete",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/search/paramId_delete"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/configurations/search/global": {
      "get": {
        "tags": ["Search Configurations"],
        "summary": "Retrieves the global search configuration for the organization",
        "description": "Shows the global GlobalSearch configuration. Does not accept pin rules. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getGlobal",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"maxLength": 255, "minLength": 1, "type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "getGlobal",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/search/global_get"
      },
      "put": {
        "tags": ["Search Configurations"],
        "summary": "Update the global search configuration for the organization",
        "description": "Updates the global Search configuration to be applied for the whole organization in a [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "updateGlobal",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchConfigurationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "updateGlobal",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/search/global_put"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/configurations/query": {
      "get": {
        "tags": ["Query Configurations"],
        "summary": "Get configuration for a solution",
        "description": "Retrieves the configuration for a solution (e.g. listing, search) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "solutionType",
            "in": "query",
            "description": "The solution type for the rule. It can be either 'listing' or 'search' or 'recommendations'.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["listing", "search", "recommendation"]
            }
          },
          {
            "name": "targets",
            "in": "query",
            "description": "List of target identifiers eg. listing page name, search term",
            "required": false,
            "schema": {
              "maxItems": 1,
              "minItems": 1,
              "type": "array",
              "items": {"type": "string"}
            },
            "example": ["Surf With Us This Year"]
          },
          {
            "name": "isGlobal",
            "in": "query",
            "description": "Whether the configuration is globally applied.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/ConfigurationModel"}
              }
            }
          }
        },
        "x-pretty-name": "get",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/query_get"
      },
      "put": {
        "tags": ["Query Configurations"],
        "summary": "Update configuration for a solution",
        "description": "Updates a configuration for a solution (e.g. listing, search) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/ConfigurationModel"}
              }
            }
          }
        },
        "x-pretty-name": "update",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/query_put"
      },
      "post": {
        "tags": ["Query Configurations"],
        "summary": "Create configuration for a solution",
        "description": "Creates a configuration for a solution (e.g. listing, search) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "create",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/ConfigurationModel"}
              }
            }
          }
        },
        "x-pretty-name": "create",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/query_post"
      },
      "delete": {
        "tags": ["Query Configurations"],
        "summary": "Delete the configuration of a solution",
        "description": "Deletes a configuration for a solution (e.g. listing, search) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "solutionType",
            "in": "query",
            "description": "The solution type for the rule. It can be either 'listing' or 'search' or 'recommendations'.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["listing", "search", "recommendation"]
            }
          },
          {
            "name": "targets",
            "in": "query",
            "description": "List of target identifiers eg. listing page name, search term",
            "required": false,
            "schema": {
              "maxItems": 1,
              "minItems": 1,
              "type": "array",
              "items": {"type": "string"}
            },
            "example": ["Surf With Us This Year"]
          },
          {
            "name": "isGlobal",
            "in": "query",
            "description": "Whether the configuration is globally applied.",
            "required": false,
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "responses": {"204": {"description": "No Content"}},
        "x-pretty-name": "delete",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/query_delete"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/configurations/productSuggest": {
      "get": {
        "tags": ["Product suggest Configurations"],
        "summary": "Retrieves a product suggest configuration",
        "description": "Shows a Product suggest configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "get_2",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "Tracking ID of the product suggest configuration",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSuggestConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "get",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/productSuggest_get"
      },
      "put": {
        "tags": ["Product suggest Configurations"],
        "summary": "Update a product suggest configuration",
        "description": "Updates a Product suggest configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "Tracking ID of the product suggest configuration",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductSuggestConfigurationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSuggestConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "update",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/productSuggest_put"
      },
      "post": {
        "tags": ["Product suggest Configurations"],
        "summary": "Create a product suggest configuration",
        "description": "Creates a Product suggest configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "create_1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductSuggestConfigurationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSuggestConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "create",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/productSuggest_post"
      },
      "delete": {
        "tags": ["Product suggest Configurations"],
        "summary": "Deletes a product suggest configuration",
        "description": "Deletes a Product suggest configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "Tracking ID of the product suggest configuration",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {"204": {"description": "No Content"}},
        "x-pretty-name": "delete",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/productSuggest_delete"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/configurations/listings/{configurationId}": {
      "get": {
        "tags": ["Listing Configurations"],
        "summary": "Retrieves a listing configuration",
        "description": "Shows a Listing configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "get_3",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the listing configuration.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListingConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "get",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/listings/paramId_get"
      },
      "put": {
        "tags": ["Listing Configurations"],
        "summary": "Update a listing configuration",
        "description": "Updates a Listing configuration in a [listing](https://docs.coveo.com/en/m1sf3187/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "update_3",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the listing configuration.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingConfigurationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListingConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "update",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/listings/paramId_put"
      },
      "delete": {
        "tags": ["Listing Configurations"],
        "summary": "Deletes a listing configuration",
        "description": "Deletes a Listing configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "delete_3",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the listing configuration.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {"204": {"description": "No Content"}},
        "x-pretty-name": "delete",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/listings/paramId_delete"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/configurations/listings/global": {
      "get": {
        "tags": ["Listing Configurations"],
        "summary": "Retrieves the global listing configuration for the organization",
        "description": "Shows the global GlobalListing configuration. Does not accept pin rules. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getGlobal_1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"maxLength": 255, "minLength": 1, "type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListingConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "getGlobal",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/listings/global_get"
      },
      "put": {
        "tags": ["Listing Configurations"],
        "summary": "Update the global listing configuration for the organization",
        "description": "Updates the global GlobalListing configuration. Does not accept pin rules. to be applied for the whole organization in a [listing](https://docs.coveo.com/en/m1sf3187/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "updateGlobal_1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingConfigurationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListingConfigurationModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "updateGlobal",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/configurations/listings/global_put"
      }
    },
    "/rest/organizations/{organizationId}/catalogs/{catalogId}": {
      "get": {
        "tags": ["Catalogs"],
        "summary": "Show catalog",
        "description": "Shows a [catalog](https://docs.coveo.com/en/3143/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Catalogs - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"CATALOG\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getCatalog",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "The unique identifier of the [catalog](https://docs.coveo.com/en/3143/) to show.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {"schema": {"$ref": "#/components/schemas/CatalogModel"}}
            }
          }
        },
        "x-pretty-name": "getCatalog",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "CATALOG",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogs/paramId_get"
      },
      "put": {
        "tags": ["Catalogs"],
        "summary": "Update catalog",
        "description": "Updates a [catalog](https://docs.coveo.com/en/3143/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Catalogs - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"CATALOG\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "updateCatalog",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "The unique identifier of the [catalog](https://docs.coveo.com/en/3143/) to update.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateCatalogModel"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/CreateCatalogModel"}
              }
            }
          }
        },
        "x-pretty-name": "updateCatalog",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "CATALOG",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogs/paramId_put"
      },
      "delete": {
        "tags": ["Catalogs"],
        "summary": "Delete catalog",
        "description": "Deletes a [catalog](https://docs.coveo.com/en/3143/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Catalogs - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"CATALOG\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "deleteCatalog",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "The unique identifier of the [catalog](https://docs.coveo.com/en/3143/) to delete.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "204": {"description": "No Content - Catalog successfully deleted"},
          "400": {
            "description": "Bad Request - The catalog is associated with a tracking ID to catalog mapping"
          },
          "412": {
            "description": "Precondition Failed - The catalog is associated with a product listing"
          },
          "404": {"description": "Not Found - The catalog does not exist"}
        },
        "x-pretty-name": "deleteCatalog",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "CATALOG",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogs/paramId_delete"
      }
    },
    "/rest/organizations/{organizationId}/catalogs/{catalogId}/productlistings/{productListingId}": {
      "get": {
        "tags": ["Product Listings (legacy)"],
        "summary": "Show product listing",
        "description": "Shows a [product listing](https://docs.coveo.com/en/m1sf3187/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Product Listings - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"PRODUCT_LISTING\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getProductListing",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "An associated catalog ID for the product listing.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "productListingId",
            "in": "path",
            "description": "The unique identifier of the [product listing](https://docs.coveo.com/en/m1sf3187/) to show.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/ProductListingModel"}
              }
            }
          }
        },
        "deprecated": true,
        "x-pretty-name": "getProductListing",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "PRODUCT_LISTING",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogs/paramId/productlistings/paramId_get"
      },
      "put": {
        "tags": ["Product Listings (legacy)"],
        "summary": "Update product listing",
        "description": "Updates a [product listing](https://docs.coveo.com/en/m1sf3187/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Product Listings - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"PRODUCT_LISTING\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "updateProductListing",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "An associated catalog ID for the product listing.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "productListingId",
            "in": "path",
            "description": "The unique identifier of the [product listing](https://docs.coveo.com/en/m1sf3187/) to update.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductListingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/ProductListingModel"}
              }
            }
          }
        },
        "deprecated": true,
        "x-pretty-name": "updateProductListing",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "PRODUCT_LISTING",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogs/paramId/productlistings/paramId_put"
      },
      "delete": {
        "tags": ["Product Listings (legacy)"],
        "summary": "Delete product listing",
        "description": "Deletes a [product listing](https://docs.coveo.com/en/m1sf3187/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Product Listings - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"PRODUCT_LISTING\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "deleteProductListing",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "An associated catalog ID for the product listing.",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "productListingId",
            "in": "path",
            "description": "The unique identifier of the [product listing](https://docs.coveo.com/en/m1sf3187/) to delete.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {"204": {"description": "No Content"}},
        "deprecated": true,
        "x-pretty-name": "deleteProductListing",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "PRODUCT_LISTING",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogs/paramId/productlistings/paramId_delete"
      }
    },
    "/rest/organizations/{organizationId}/catalogconfigurations/{configurationId}": {
      "get": {
        "tags": ["Catalog Configurations"],
        "summary": "Show catalog configuration",
        "description": "Shows a catalog configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Catalogs - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"CATALOG\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "getCatalogConfiguration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the catalog configuration to show.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogConfigurationModelWithAssociatedCatalogs"
                }
              }
            }
          }
        },
        "x-pretty-name": "getCatalogConfiguration",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "CATALOG",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogconfigurations/paramId_get"
      },
      "put": {
        "tags": ["Catalog Configurations"],
        "summary": "Update catalog configuration",
        "description": "Updates a catalog configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Catalogs - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"CATALOG\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "updateCatalogConfiguration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the catalog configuration to update.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCatalogConfigurationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogConfigurationModelWithAssociatedCatalogs"
                }
              }
            }
          }
        },
        "x-pretty-name": "updateCatalogConfiguration",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "CATALOG",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogconfigurations/paramId_put"
      },
      "delete": {
        "tags": ["Catalog Configurations"],
        "summary": "Delete catalog configuration",
        "description": "Deletes a catalog configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Catalogs - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"CATALOG\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "deleteCatalogConfiguration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "configurationId",
            "in": "path",
            "description": "The unique identifier of the catalog configuration to delete.<br />**Example:** `644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b`",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {"204": {"description": "No Content"}},
        "x-pretty-name": "deleteCatalogConfiguration",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "CATALOG",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/catalogconfigurations/paramId_delete"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/setup": {
      "post": {
        "tags": ["Setup"],
        "summary": "Create CMH scaffolding",
        "description": "Creates the resources recommended to [setup](https://docs.coveo.com/en/o25a0034) Coveo for Commerce in a [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "setup",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/SetupRequestModel"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {"$ref": "#/components/schemas/SetupResponseModel"}
              }
            }
          }
        },
        "x-pretty-name": "setup",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "EDIT",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/setup_post"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/search": {
      "post": {
        "tags": ["Search"],
        "summary": "Execute a search query",
        "description": "Returns products linked to a user query and merchandiser defined hub.</br></br>**Required privilege:** Execute Query",
        "operationId": "search",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequestModel_V2SearchProductView"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseModel_V2SearchProductView"
                }
              }
            }
          }
        },
        "x-pretty-name": "search",
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/search_post"
      }
    },
    "/rest/organizations/{organizationId}/commerce/v2/search/synonyms": {
      "get": {
        "tags": ["Synonym"],
        "summary": "List synonym rules",
        "description": "List synonym rules.</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"VIEW\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "listSynonyms",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
            "schema": {"maxLength": 255, "minLength": 1, "type": "string"},
            "example": "acmecorporation_ca"
          },
          {
            "name": "language",
            "in": "query",
            "description": "An IETF language tag.",
            "required": false,
            "schema": {"pattern": "^[a-z]{2}$", "type": "string"},
            "example": "en"
          },
          {
            "name": "country",
            "in": "query",
            "description": "An ISO 3166-1 alpha-2 currency code.",
            "required": false,
            "schema": {"pattern": "^[A-Z]{2}$", "type": "string"},
            "example": "US"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "An ISO 4217 currency code.",
            "required": false,
            "schema": {"pattern": "^[A-Z]{3}$", "type": "string"},
            "example": "USD"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filter on search term (query expression) when requesting rules.",
            "required": false,
            "schema": {"type": "string"},
            "example": "mens shoes"
          },
          {
            "name": "action",
            "in": "query",
            "description": "The synonym rule type. Possible values are: one-way, two-way, and one-way-reverse.",
            "required": false,
            "schema": {"type": "string"},
            "example": "one-way"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "property.direction to sort by.",
            "required": false,
            "schema": {"type": "string"},
            "example": "query.asc"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 0-based index number of the page of rules to retrieve.</br>**Minimum:** `0`</br>**Default:** `0`",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of rules to list per page.</br>**Minimum:** `1`</br>**Maximum:** `1000`</br>**Default:** `10`",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommercePageModelSynonymModel"
                }
              }
            }
          }
        },
        "x-pretty-name": "listSynonyms",
        "x-required-privilege": {
          "owner": "COMMERCE",
          "targetDomain": "MERCHANDISING_HUB",
          "type": "VIEW",
          "targetId": "*"
        },
        "x-required-privileges": [{}],
        "x-ui-operation-id": "/rest/organizations/paramId/commerce/v2/search/synonyms_get"
      },
      "post": {
        "tags": ["Synonym"],
        "summary": "Create a synonym rule",
        "description": "Persists a synonym rule.</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>\n```\n{\"owner\":\"COMMERCE\",\"targetDomain\":\"MERCHANDISING_HUB\",\"type\":\"EDIT\",\"targetId\":\"*\"}\n```\n</details>",
        "operationId": "createSynonym",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "trackingId",
            "in": "query",
            "description": "The unique identifier of the tracking target.",
            "required": true,
[...]
