@import 'c/quanticFacetStyles';

.recent-result__container {
  display: flex;
  flex-direction: row;
  min-width: 0;
  color:  var(--lwc-brandTextLink, #0176d3);
}

.result-link__container {
  min-width: 0;
}

.recent-result__icon {
  margin-right: .5rem;
}

.empty-list-message {
  color: #8e959d;
}