.slds-error__box {
    text-align: left;
    background: #FFFFFF;
    color: #706E6B;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid #DDDBDA;
    box-sizing: border-box;
    border-radius: 4px;
}

.toolbar__background {
    background-color: #fff;
    border-top: 0;
    width: 40rem;
}


