.pre_class {
    width: 700px;
    height: 175px;
    top: 20px;
    bottom: 20px;
    text-align: left;
    background: #FFFFFF;
    color: #706E6B;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid #DDDBDA;
    box-sizing: border-box;
    border-radius: 4px;
}


