.group {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 4px var(--space-3);
}

.headerTitle {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-text-muted);
}
