// Default variables override
$enable-important-utilities: false; // the use of !important would cause issues with CSS parts, instead we import utilities after component's SCSS files

// Global CSS Variables
@import 'css_variables';

// Required Bootstrap Globals
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// Reboots
@import 'reboot';
@import '../../node_modules/bootstrap/scss/reboot';

// Helpers
@import '../../node_modules/bootstrap/scss/helpers';
@import '../../node_modules/bootstrap/scss/type';
