/**
 * @prop --atomic-pagination-active-color: Pagination active color
 * @prop --atomic-pagination-border-color: Pagination border color
 */
$pagination-color: var(--atomic-pagination-active-color, $pagination-color);
$pagination-active-bg: var(--atomic-pagination-active-color, $pagination-active-bg);
$pagination-hover-color: var(--atomic-pagination-active-color, $pagination-hover-color);
$pagination-active-border-color: var(--atomic-pagination-active-color, $pagination-active-border-color);
$pagination-focus-color: var(--atomic-pagination-active-color, $pagination-focus-color);
$pagination-border-color: var(--atomic-pagination-border-color, $pagination-border-color);
$pagination-hover-border-color: var(--atomic-pagination-border-color, $pagination-hover-border-color);

@import '../../../node_modules/bootstrap/scss/pagination';
