.result-action_white-container {
  background-color: white;
  display: inline-block;
  border-radius: var(--slds-g-sizing-border-4, 0.25rem);
}

.result-action_button {
  --lwc-borderWidthThin: 0.5px;
}

.result-action_first {
  border-top-left-radius: var(--slds-g-sizing-border-4, 4px);
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--slds-g-sizing-border-4, 4px);
}

.result-action_middle {
  border-radius: 0;
}

.result-action_last {
  border-top-left-radius: 0;
  border-top-right-radius: var(--slds-g-sizing-border-4, 4px);
  border-bottom-left-radius: var(--slds-g-sizing-border-4, 4px);
  border-bottom-right-radius: 0;
}
