.result-action_white-container {
  background-color: white;
  display: inline-block;
  border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

.result-action_button {
  --lwc-borderWidthThin: 0.5px;
}

.result-action_first {
  --sds-c-button-radius-border: 4px 0 0 4px;
}

.result-action_middle {
  --sds-c-button-radius-border: 0;
}

.result-action_last {
  --sds-c-button-radius-border: 0 4px 4px 0;
}
