<h1>Angular Samples</h1>

<nav>
  <ul>
    <li>
      <a routerLink="/atomic-angular" routerLinkActive="active"
        >Sample interface with Atomic Angular (&#64;coveo/atomic-angular)</a
      >
    </li>
    <li>
      <a routerLink="/atomic-rga-angular" routerLinkActive="active"
        >Sample interface with RGA, using Atomic Angular (&#64;coveo/atomic-angular)</a
      >
    </li>
    <li>
      <a routerLink="/atomic-search-angular" routerLinkActive="active"
        >Sample search interface with Atomic Angular (&#64;coveo/atomic-angular)</a
      >
    </li>
    <li>
      <a routerLink="/atomic-recommendation-angular" routerLinkActive="active"
        >Sample recommendation interface with Atomic Angular (&#64;coveo/atomic-angular)</a
      >
    </li>
    <li>
      <a routerLink="/atomic-commerce-angular" routerLinkActive="active"
        >Sample with Atomic Commerce Angular (&#64;coveo/atomic-angular)</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
