.citation:hover {
  cursor: pointer;
  color: var(--lwc-brandAccessible, #0176d3);
}

.citation__link {
  max-width: 10.625rem;
  height: 2rem;
}

.citation__link:hover {
  background-color: var(--lwc-brandLight, #f4f6fe);
}

.citation__link:focus {
  border: 1px solid var(--lwc-brandAccessible, #0070d2);
  box-shadow: 0 0 3px 0 var(--lwc-brandAccessible, #0070d2);
}

.citation__link:hover .citation__title {
  color: var(--lwc-brandAccessible, #0176d3);
}

.citation__title {
  font-weight: var(--lwc-fontWeightRegular, 400);
  color: var(--lwc-colorTextPlaceholder, #747474);
  font-size: var(--slds-g-font-size-base, 13px);
}

.citation__tooltip-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.citation__tooltip {
  color: rgb(26, 27, 30);
  cursor: default;
}