header {
  padding: 10px 20px;
}

header ul li {
  display: inline-block;
  cursor: pointer;
  color: var(--atomic-primary);
  margin-right: 24px;
}

header ul {
  display: inline-block;
  font-size: var(--atomic-text-sm);
  font-family: var(--atomic-font-family);
}

.pageTitle {
  font-weight: var(--atomic-font-bold);
  font-family: var(--atomic-font-family);
}

atomic-recs-list {
  margin: 24px;
  --atomic-recs-number-of-columns: 3;
}

atomic-color-facet[field="cat_color"]::part(value-Black) {
  background-color: #222222;
}

atomic-color-facet[field="cat_color"]::part(value-White) {
  background-color: white;
  border: 1px solid var(--atomic-neutral);
}

atomic-color-facet[field="cat_color"]::part(value-Stainless) {
  background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
}

atomic-color-facet[field="cat_color"]::part(value-Silver) {
  background-color: silver;
  border: 1px solid var(--atomic-neutral);
}

atomic-color-facet[field="cat_color"]::part(value-Gray) {
  background-color: gray;
  border: 1px solid var(--atomic-neutral);
}

atomic-color-facet[field="cat_color"]::part(value-Blue) {
  background-color: rgb(73, 73, 255);
}

atomic-color-facet[field="cat_color"]::part(value-Multi) {
  background-image: linear-gradient(
    315deg,
    #b43a3a 0%,
    #fffb71 16%,
    rgba(137, 255, 126) 33%,
    #2de9e1 50%,
    #5f6cdb 66%,
    #d79fdb 83%,
    #ff6464 100%
  );
  border: 1px solid var(--atomic-neutral);
}

atomic-search-layout {
  row-gap: var(--atomic-layout-spacing-y);
}
