.align-baseline {
    align-items: baseline;
}

.text-hover-underline:hover {
    text-decoration: underline;
}

.slds-grid div.no-gutters {
    padding: 0;
}

.coveo-breadcrumb-value-line {
    line-height: 0.7;
}

.nowrap {
    white-space: nowrap;
}

.breadcrumb-more-button:hover {
    color: var(--color-text-action-label);
}