.stencil__facet-container {
  min-width: 275px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stencil__round {
  min-width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
}

.stencil__rounded {
  height: 13px;
  border-radius: 90px;
}

.stencil__facet-header {
  height: 36px;
  border-radius: 90px;
}

.stencil__facet-row {
  width: 100%;
}

.stencil__result-header {
  height: 40px;
}

.stencil__result-image {
  width: 100px;
  height: 100px;
  border-radius: 7px;
}

.grey {
  background-color: #E9EAEC;
}

.light-grey {
  background-color: #F5F5F6;
}

.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards linear;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.stencil__animation {
  animation : shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes stencil-loading {
  0% {
    background-color: rgba(236, 236, 236, .8);
  }
  100% {
    background-color: rgba(211, 209, 209, .9)
  }
}