name: Create Quantic Package

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *'

permissions:
  contents: read
  actions: write

defaults:
  run:
    shell: bash

jobs:
  create-and-promote-quantic-package:
    environment: 'Quantic Staging'
    name: Create Quantic Package
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check Out Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Create cache file
        run: |
          mkdir check-SHA
          echo ${{ github.sha }} > github-sha.txt
      - name: Check SHA
        id: check_sha
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: check-SHA
          key: check-SHA-${{ github.sha }}
      - name: Cancel current workflow run if no changes made
        if: steps.check_sha.outputs.cache-hit == 'true'
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        with:
          script: |
            github.rest.actions.cancelWorkflowRun({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.runId
            })
      - name: Setup
        uses: ./.github/actions/setup
      - name: Setup SFDX
        uses: ./.github/actions/setup-sfdx
      - name: Create package version
        working-directory: ./packages/quantic
        run: |
          echo "${{ secrets.SFDX_AUTH_JWT_KEY }}" > ${{ vars.SFDX_AUTH_JWT_KEY_FILE }}
          pnpm exec ts-node scripts/build/create-package.ts --remove-translations --ci
          rm ${{ vars.SFDX_AUTH_JWT_KEY_FILE }}
        env:
          SFDX_AUTH_JWT_USERNAME: ${{ vars.SFDX_AUTH_JWT_USERNAME }}
          SFDX_AUTH_JWT_KEY_FILE: ${{ vars.SFDX_AUTH_JWT_KEY_FILE }}
          SFDX_AUTH_CLIENT_ID: ${{ secrets.SFDX_AUTH_CLIENT_ID }}
