name: Create Quantic Package

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *'

defaults:
  run:
    shell: bash

jobs:
  create-and-promote-quantic-package:
    name: Create Quantic Package
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: pnpm/action-setup@v2
        with:
          version: 7.26.3
          run_install: false
      - name: Check Out Repository
        uses: actions/checkout@v3
      - name: Create cache file
        run: |
          mkdir check-SHA
          echo ${{ github.sha }} > github-sha.txt
      - name: Check SHA
        id: check_sha
        uses: actions/cache@v1
        with:
          path: check-SHA
          key: check-SHA-${{ github.sha }}
      - name: Cancel current workflow run if no changes made
        if: steps.check_sha.outputs.cache-hit == 'true'
        uses: actions/github-script@v4
        with:
          script: |
            github.actions.cancelWorkflowRun({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.runId
            })
      - name: Setup
        uses: ./.github/actions/setup
      - name: Create package version
        working-directory: ./packages/quantic
        run: |
          echo "${{ secrets.SFDX_AUTH_PACKAGE_JWT_KEY }}" > server.key
          pnpm exec ts-node scripts/build/create-package.ts --remove-translations --ci
          rm server.key
        env:
          SFDX_AUTH_JWT_USERNAME: sfdc.integration.devv2.hub@coveo.com
          SFDX_AUTH_JWT_KEY: server.key
          SFDX_AUTH_CLIENT_ID: ${{ secrets.SFDX_AUTH_PACKAGE_CLIENT_ID }}
