name: 'Delete PR artifact on merge'
on:
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  delete:
    environment: PR Artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/publish-pr-review-site
        with:
          token: ${{ secrets.GH_PUBLISH_TOKEN }}
