on:
  workflow_call:
    secrets:
      SFDX_AUTH_CLIENT_ID:
        required: true
      SFDX_AUTH_JWT_KEY:
        required: true
jobs:
  e2e-quantic-setup:
    name: 'Setup e2e tests on Quantic'
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-sfdx
      - uses: ./.github/actions/e2e-quantic-setup
        with:
          clientid: ${{ secrets.SFDX_AUTH_CLIENT_ID }}
          jwtkey: ${{ secrets.SFDX_AUTH_JWT_KEY }}
  e2e-quantic-cypress-test:
    name: 'Run Cypress e2e tests on Quantic'
    needs: e2e-quantic-setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        spec:
          [
            'cypress/e2e/default-1/**/*',
            'cypress/e2e/default-2/**/*',
            'cypress/e2e/facets-1/**/*',
            'cypress/e2e/facets-2/**/*',
          ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-quantic-cypress
        with:
          spec: ${{ matrix.spec }}
  e2e-quantic-playwright-test:
    name: 'Run Playwright e2e tests on Quantic'
    needs: e2e-quantic-setup
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-quantic-playwright
  e2e-quantic-cleanup:
    if: cancelled() || failure() || success()
    needs:
      - e2e-quantic-playwright-test
      - e2e-quantic-cypress-test
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-sfdx
      - run: |
          npx --no-install ts-node scripts/build/delete-org.ts --scratch-org-def-path=./config/lws-disabled-scratch-def.json
          npx --no-install ts-node scripts/build/delete-org.ts --scratch-org-def-path=./config/lws-enabled-scratch-def.json
        shell: bash
        working-directory: ./packages/quantic
