on:
  workflow_call:
    secrets:
      SFDX_AUTH_CLIENT_ID:
        required: true
      SFDX_AUTH_JWT_KEY:
        required: true
jobs:
  e2e-quantic-setup:
    name: 'Setup e2e tests on Quantic'
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-sfdx
      - uses: ./.github/actions/e2e-quantic-setup
        with:
          clientid: ${{ secrets.SFDX_AUTH_CLIENT_ID }}
          jwtkey: ${{ secrets.SFDX_AUTH_JWT_KEY }}
  e2e-quantic-playwright-test:
    name: 'Run Playwright e2e tests on Quantic'
    needs: e2e-quantic-setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-quantic-playwright
        with:
          shardIndex: ${{ matrix.shardIndex }}
          shardTotal: ${{ matrix.shardTotal }}
          testsToRun: ${{ needs.prepare-playwright-atomic.outputs.testsToRun }}
  merge-quantic-playwright-reports:
    name: 'Merge Playwright reports'
    environment: PR Artifacts
    if: ${{ !cancelled() }}
    needs:
      - 'e2e-quantic-playwright-test'
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/setup
      - name: Merge Playwright reports
        uses: ./.github/actions/merge-playwright-reports
        with:
          working-directory: packages/quantic
          artifact-pattern: quantic-blob-report-*
          upload-artifact-name: quantic-playwright-report
  e2e-quantic-cleanup:
    if: cancelled() || failure() || success()
    needs:
      - e2e-quantic-playwright-test
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-sfdx
      - run: |
          npx --no-install ts-node scripts/build/delete-org.ts --scratch-org-def-path=./config/lws-disabled-scratch-def.json
          npx --no-install ts-node scripts/build/delete-org.ts --scratch-org-def-path=./config/lws-enabled-scratch-def.json
        shell: bash
        working-directory: ./packages/quantic
