name: Master Robot
on:
  push:
    branches:
      - master
      - 'prerelease/**'
jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/build
  lint-check:
    name: 'Check with linter'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - run: npm run lint:check
  unit-test:
    name: 'Run unit tests'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - run: npm test
  e2e-atomic-csp-test:
    name: 'Run e2e tests on Atomic CSP'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-csp
  e2e-atomic-test:
    name: 'Run e2e tests on Atomic'
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers:
          [
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12,
            13,
            14,
            15,
            16,
            17,
            18,
            19,
            20,
          ]
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          SPLIT: ${{ strategy.job-total }}
          SPLIT_INDEX: ${{ strategy.job-index }}
  e2e-atomic-screenshots:
    name: 'Run e2e screenshots tests on Atomic'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-screenshots

  e2e-atomic-angular-test:
    name: 'Run e2e tests on Atomic Angular'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-angular
  e2e-atomic-vuejs-test:
    name: 'Run e2e tests on Vue.js sample'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-vuejs
  e2e-atomic-stencil-test:
    name: 'Run e2e tests on Stencil.js sample'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-stencil
  playwright-atomic-hosted-page-test:
    name: 'Run e2e tests for Atomic Hosted Page'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/playwright-atomic-hosted-pages
  e2e-atomic-react-test:
    name: 'Run e2e tests on Atomic React'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-react
  e2e-atomic-react-nextjs-test:
    name: 'Run e2e tests on Atomic React NextJS'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-next
  e2e-iife-test:
    name: 'Run e2e tests for IIFE'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      # TODO: KIT-3537 - https://coveord.atlassian.net/browse/KIT-3538
      # - uses: ./.github/actions/setup
      # - uses: ./.github/actions/e2e-iife
  e2e-atomic-insight-panel-test:
    name: 'Run e2e tests on Atomic Insight Panel'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-insight-panel
  e2e-headless-ssr-test-app-dev:
    name: 'Run e2e tests on Headless SSR App router sample in dev mode'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-headless-ssr-app-dev
  e2e-headless-ssr-test-app-prod:
    name: 'Run e2e tests on Headless SSR App router sample in prod mode'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-headless-ssr-app-prod
  e2e-headless-ssr-test-pages-dev:
    name: 'Run e2e tests on Headless SSR Pages router sample in dev mode'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-headless-ssr-pages-dev
  e2e-headless-ssr-test-pages-prod:
    name: 'Run e2e tests on Headless SSR Pages router sample in prod mode'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-headless-ssr-pages-prod
  e2e-quantic:
    uses: ./.github/workflows/e2e-quantic.yml
    secrets:
      SFDX_AUTH_CLIENT_ID: ${{ secrets.SFDX_AUTH_CLIENT_ID }}
      SFDX_AUTH_JWT_KEY: ${{ secrets.SFDX_AUTH_JWT_KEY }}
  prerelease:
    timeout-minutes: 40
    name: Pre-release
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    runs-on: ubuntu-latest
    environment: 'Prerelease'
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version-file: '.nvmrc'
      - name: Install npm
        run: npm i -g npm@10
        shell: bash
      - run: npm ci
        shell: bash
      - name: Release
        run: |
          npm run nx:graph
          npm run release:phase1
          npm run release:phase2
        env:
          DEBUG: '*'
          IS_PRERELEASE: 'true'
