name: 'package-lock.json root validator'

on:
  push:
    branches: [master, main]
    paths:
      - '**/package-lock.json'
      - '!utils/atomic-storybook/package-lock.json'
      - '!package-lock.json'
  pull_request:
    branches: [master, main]
    paths:
      - '**/package-lock.json'
      - '!utils/atomic-storybook/package-lock.json'
      - '!package-lock.json'

permissions:
  contents: read

jobs:
  lockfile-outside-of-root:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - run: exit 1
