name: 'package-lock.json root validator'

on:
  push:
    branches: [v2]
    paths:
      - '**/package-lock.json'
      - '!utils/atomic-storybook/package-lock.json'
      - '!package-lock.json'
  pull_request:
    branches: [v2]
    paths:
      - '**/package-lock.json'
      - '!utils/atomic-storybook/package-lock.json'
      - '!package-lock.json'

jobs:
  lockfile-outside-of-root:
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
