name: 'package-lock.json root validator'

on:
  push:
    branches: [master, main]
    paths-ignore:
      - '**/package-lock.json'
      - '!package-lock.json'
  pull_request:
    branches: [master, main]
    paths-ignore:
      - '**/package-lock.json'
      - '!package-lock.json'

permissions:
  contents: read

jobs:
  lockfile-outside-of-root:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - run: exit 0
