name: PR Robot
on: [pull_request]
jobs:
  report-size:
    name: 'Report bundle size'
    runs-on: ubuntu-latest
    env:
      GITHUB_CREDENTIALS: ${{ secrets.GITHUB_TOKEN }}
      NODE_OPTIONS: --max_old_space_size=4096
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm run pr:report
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/commit-generated-files
  lint-check:
    name: 'Check with linter'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: npm run lint:check
  unit-test:
    name: 'Run unit tests'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: npm test
  e2e-atomic-test:
    name: 'Run e2e tests on Atomic'
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        spec:
          [
            'cypress/e2e/*',
            'cypress/e2e/result-list/**/*',
            'cypress/e2e/facets/**/*',
            'cypress/e2e/search-box/**/*',
            'cypress/e2e/recommendations/**/*',
          ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic
        with:
          spec: ${{ matrix.spec }}
  e2e-atomic-screenshots:
    name: 'Run e2e screenshots tests on Atomic'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-screenshots
  e2e-atomic-react-test:
    name: 'Run e2e tests on Atomic React'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-react
  e2e-atomic-react-nextjs-test:
    name: 'Run e2e tests on Atomic React NextJS'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-next
  e2e-iife-test:
    name: 'Run e2e tests for IIFE'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-iife
  e2e-atomic-angular-test:
    name: 'Run e2e tests on Atomic Angular'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-angular
  e2e-atomic-vuejs-test:
    name: 'Run e2e tests on Vue.js sample'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-vuejs
  e2e-atomic-stencil-test:
    name: 'Run e2e tests on Stencil.js sample'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-stencil
  e2e-atomic-hosted-page-test:
    name: 'Runs Cypress tests for Atomic Hosted Page'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-hosted-page
  e2e-atomic-insight-panel-test:
    name: 'Run e2e tests on Atomic insight panel'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-insight-panel
  e2e-quantic-setup:
    name: 'Setup e2e tests on Quantic'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-quantic-setup
        with:
          clientid: ${{ secrets.SFDX_AUTH_CLIENT_ID }}
          jwtkey: ${{ secrets.SFDX_AUTH_JWT_KEY }}
  e2e-quantic-test:
    name: 'Run e2e tests on Quantic'
    needs: e2e-quantic-setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        spec: [
            'cypress/e2e/default-1/**/*',
            'cypress/e2e/default-2/**/*',
            'cypress/e2e/facets-1/**/*',
            'cypress/e2e/facets-2/**/*',
          ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-quantic
        with:
          spec: ${{ matrix.spec }}
  e2e-quantic-cleanup:
    if: always()
    needs: e2e-quantic-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: npx --no-install ts-node packages/quantic/scripts/build/delete-org.ts
        shell: bash
  required-jobs:
    if: success()
    needs:
      - 'build'
      - 'lint-check'
      - 'unit-test'
      - 'e2e-atomic-test'
      - 'e2e-quantic-test'
    runs-on: ubuntu-latest
    steps:
      - run: echo 'All required jobs have passed'
  is-valid:
    if: always()
    name: 'Confirm build is valid'
    needs:
      - 'required-jobs'
    runs-on: ubuntu-latest
    steps:
      - run: |
          success="${{ needs.required-jobs.result == 'success' }}"
          if [[ $success == "true" ]]; then
            echo "Build is valid"
            exit 0
          else
            echo "Build is invalid"
            exit 1
          fi
  test-prerelease: # TODO: Remove before merging PR.
    name: Test Pre-release
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - name: Bump & publish
        run: |
          npm run nx:graph
          npm run release:install-npm-proxy
          npm run release:phase1
          cat .git-message
        env:
          DEBUG: '*'
          IS_PRERELEASE: 'true'
      - name: "Verify release build"
        run: |
          npm i
          npm run build
          npm run test
      - name: Download published packages
        shell: bash
        run: |
          mkdir downloaded-packages
          while read package; do
            echo "Downloading $package"
            npm pack $package --pack-destination=downloaded-packages
          done < .git-message
      - name: Upload packages as artifact
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: downloaded-packages
  test-release: # TODO: Remove before merging PR.
    name: Test Release
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - name: Bump & publish
        run: |
          npm run nx:graph
          npm run release:install-npm-proxy
          npm run release:phase1
          cat .git-message
        env:
          DEBUG: '*'
          IS_PRERELEASE: 'false'
      - name: "Verify release build"
        run: |
          npm i
          npm run build
          npm run test
      - name: Download published packages
        shell: bash
        run: |
          mkdir downloaded-packages
          while read package; do
            echo "Downloading $package"
            npm pack $package --pack-destination=downloaded-packages
          done < .git-message
      - name: Upload packages as artifact
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: downloaded-packages
