name: PR Robot
on: [pull_request]
jobs:
  report-size:
    name: 'Report bundle size'
    runs-on: ubuntu-latest
    env:
      GITHUB_CREDENTIALS: ${{ secrets.GITHUB_TOKEN }}
      NODE_OPTIONS: --max_old_space_size=4096
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm run pr:report
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/commit-generated-files
  lint-check:
    name: 'Check with linter'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: npm run lint:check
  unit-test:
    name: 'Run unit tests'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: npm run copy:staticresources -w @coveo/quantic
      - run: npm test
  e2e-atomic-test:
    name: 'Run e2e tests on Atomic'
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        spec:
          [
            'cypress/e2e/*',
            'cypress/e2e/result-list/**/*',
            'cypress/e2e/facets/**/*',
            'cypress/e2e/search-box/**/*',
          ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic
        with:
          spec: ${{ matrix.spec }}
  e2e-atomic-screenshots:
    name: 'Run e2e screenshots tests on Atomic'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-screenshots
  e2e-atomic-visual-tests:
    name: 'Run Applitool visual regressions tests on Atomic'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-visual-tests
    env:
      APPLITOOLS_API_KEY: ${{ secrets.APPLITOOLS_API_KEY }}
  e2e-quantic-test:
    name: 'Run e2e tests on Quantic'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-quantic
        with:
          clientid: ${{ secrets.SFDX_AUTH_CLIENT_ID }}
          jwtkey: ${{ secrets.SFDX_AUTH_JWT_KEY }}
  e2e-atomic-react-test:
    name: 'Run e2e tests on Atomic React'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-react
  e2e-atomic-angular-test:
    name: 'Run e2e tests on Atomic Angular'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-angular
  e2e-atomic-vuejs-test:
    name: 'Run e2e tests on Vue.js sample'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-vuejs
  e2e-atomic-stencil-test:
    name: 'Run e2e tests on Stencil.js sample'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-stencil
  e2e-atomic-insights-panel-test:
    name: 'Run e2e tests on Atomic insights panel'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/e2e-atomic-insights-panel

  required-jobs:
    if: success()
    needs:
      - 'build'
      - 'lint-check'
      - 'unit-test'
      - 'e2e-atomic-test'
      - 'e2e-quantic-test'
    runs-on: ubuntu-latest
    steps:
      - run: echo 'All required jobs have passed'
  is-valid:
    if: always()
    name: 'Confirm build is valid'
    needs:
      - 'required-jobs'
    runs-on: ubuntu-latest
    steps:
      - run: |
          success="${{ needs.required-jobs.result == 'success' }}"
          if [[ $success == "true" ]]; then
            echo "Build is valid"
            exit 0
          else
            echo "Build is invalid"
            exit 1
          fi
