name: Publish Robot
on:
  push:
    branches:
      - master
jobs:
  allow-workflow:
    name: 'Allow workflow'
    if: "startsWith(github.event.head_commit.message, '[Version Bump]')"
    runs-on: ubuntu-latest
    steps:
      - run: echo "Workflow allowed to start"
  npm-publish:
    name: 'Publish to NPM'
    needs: allow-workflow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          with-registry: 'true'
      - run: npm config set loglevel verbose --global
      - run: npm run npm:publish:alpha
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Archive build artifacts Headless
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-headless
          path: |
            packages/headless/dist

      - name: Archive build artifacts Atomic
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-atomic
          path: |
            packages/atomic/dist
            
      - name: Archive build artifacts Atomic Storybook
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-atomic-storybook
          path: |
            packages/atomic/storybook-static

  deploy:
    name: 'Deploy the package'
    needs: npm-publish
    runs-on: [self-hosted, linux, x64, ec2-alpha]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v2
        with:
          name: artifacts-headless
          path: packages/headless/dist
      - uses: actions/download-artifact@v2
        with:
          name: artifacts-atomic
          path: packages/atomic/dist
      - uses: actions/download-artifact@v2
        with:
          name: artifacts-atomic-storybook
          path: packages/atomic/storybook-static

      - run: rm -rf veracode && mkdir veracode
      - run: mkdir veracode/auth
      - run: cp -R packages/auth/src packages/auth/package.json packages/auth/package-lock.json veracode/auth
      - run: mkdir veracode/bueno
      - run: cp -R packages/bueno/src packages/bueno/package.json packages/bueno/package-lock.json veracode/bueno
      - run: mkdir veracode/headless
      - run: cp -R packages/headless/src packages/headless/package.json packages/headless/package-lock.json veracode/headless
      - run: mkdir veracode/atomic
      - run: cp -R packages/atomic/src packages/atomic/package.json packages/atomic/package-lock.json veracode/atomic
      - uses: ./.github/actions/create-deployment-package
