name: Create release (Lerna)
on: [workflow_dispatch]

jobs:
  relese-using-lerna:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ADMIN_GITHUB_TOKEN }}
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - name: Clean directory
        run: git clean -xfd -e node_modules/ -e .husky
      - name: Commit & push
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "<>"
          npm run bump:version
