.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  /* background-color: aquamarine; */
}

.turn {
  margin-bottom: 1.5rem;
}

/* User prompt styling */
.user-message {
  /* align-self: flex-end;
  background-color: #0070d2;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem 1rem 0.5rem 1rem;
  max-width: 70%;
  word-wrap: break-word;
  margin-bottom: 0.5rem; */
  background-color: #f0f2f5;
  border-radius: 24px 4px 24px 24px;
  margin-left: auto;
  width: fit-content;
  max-width: 400px;
  padding: 12px 16px;
}

/* AI generated answer styling */
.ai-message {
  align-self: flex-start;
  /* background-color: #f4f6f9; */
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 1rem 1rem 1rem 0.5rem;
  max-width: 70%;
  word-wrap: break-word;
}

/* Typing indicator */
.typing-indicator {
  font-style: italic;
  color: #555;
}

/* Input area styling */
.chat-input {
  display: flex;
  /* background-color: red; */
}

.prompt-input {
  flex: 1;
  margin-right: 0.5rem;
}

.send-button {
  flex: 0 0 auto;
}
