:host {
  --main-color: var(--selected-state-color,var(--lwc-brandPrimary, #0176d3));
  --neutral-color: rgb(94, 94, 94);
  --color-gray-6: rgb(201, 199, 197);
}

.stateful-button {
  gap: 0.6rem;
}

.stateful-button--unselected {
  --slds-c-button-neutral-color-border-hover: var(--color-gray-6);
  --slds-c-button-neutral-color-border: var(--color-gray-6);
  --slds-c-button-shadow-focus: 0 0 3px var(--color-gray-6);
  --slds-c-button-color-border-active: var(--color-gray-6);
}

.stateful-button--unselected,
.stateful-button--unselected:hover,
.stateful-button--unselected:focus {
  color: var(--neutral-color);
  background-color: white;
}

.stateful-button--selected {
  border-color: var(--main-color);
  --slds-c-button-shadow-focus: 0 0 3px var(--main-color);
}

.stateful-button--selected,
.stateful-button--selected:hover,
.stateful-button--selected:focus {
  border-color: var(--main-color);
  color: var(--main-color);
  background-color: white;
}

.stateful-button__icon--selected {
  --slds-c-icon-color-foreground-default: var(--main-color);
}

.stateful-button--without-borders {
  border: 0;
}